body {
    background-color: #05164c;
    margin: 0;
    min-height: 100vh;
    font-family: SharpSans,Helvetica,Arial,sans-serif;
}
.container {
    display: flex;
    flex-direction: column;
}
.victoryscreen {
    animation: fadeIn 2s;
    display: flex;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.75);
    height: 100%;
    width: 100vw;
    justify-content: center;
    z-index: 100;
    margin: 0;
    top: 0;
    flex-direction: column;
}
@keyframes fadeIn {
    from {
        opacity: 0;
    }
}
.victoryscreen h1 {
    color: white;
    justify-content: center;
    font-family: Arial;
    font-size: 6vw;
    font-weight: bold;
    margin: auto;
}
h1 {
    color: white;
    font-family: Arial;
    font-size: 6vw;
    font-weight: bold;
}
.secretcode {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;

}
.locked {
    background-image: url("/images/lock.png");
    background-size: cover;

}
.checkbox{
    padding: 5px;
    background-color: darkslategray;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
}
.checkbox p {
color: white;
font-size: 1.7vw;
    font-family: Arial;
    margin: 2px;
}
.rowdirector {
    display: flex;
    flex-direction: row;
    display: flex;
    margin: auto;
    justify-content: center;

}
.columndirector {
    display: flex;
    flex-direction: column;
}
td {
border: 1px solid black;
    padding: 15px;
    border-radius: 50%;
}
#_1 {
 background-color: yellow;
}
#_2 {
    background-color: dodgerblue;
}
#_3 {
    background-color: red;
}
#_4 {
    background-color: limegreen;
}
#_5 {
    background-color: purple;
}
#_6 {
    background-color: orange;
}
#_7 {
    background-color: darkcyan;
}
.yellowcursor * {

    cursor: url('/images/yellowcursor.png'), auto;
}
.bluecursor * {

    cursor: url('/images/bluecursor.png'), auto;
}
.redcursor * {

    cursor: url('/images/redcursor.png'), auto;
}
.greencursor * {

    cursor: url('/images/greencursor.png'), auto;
}
.selectcontainer {
    display: flex;
    flex-direction: row;
    margin-right: 0;
    padding-top: 7.6%;
}
.selectfield {
    border: 2px solid black;
    margin: auto;
    position: relative;
    display: flex;
    padding: 20px;
    border-radius: 50%;


}
.colorselecter {
    cursor: crosshair;
    z-index: 100;
}
.selectfield:focus  {
    border: 2px dotted blue;
}
.selectfield:active {
    border: 2px dotted blue;
}
.testcontainer {
    margin: auto;
    display: flex;
    position: relative;
    margin-top: auto;
    justify-content: center;
    z-index: 0;
}
.secretcodecontainer
{
    font-family: Courier New;
    font-size: 40px;
    letter-spacing: 4px;
    font-weight: bold;
    width: min-content;
    display: flex;
    flex-direction: column-reverse;
    padding: 10px;
    display: flex;
    position: fixed;
    margin-top: 50vh;
    border: 3px limegreen solid;
    color: limegreen;
    background-color: #1a202c;

}
.secretcodecontainer label {
    font-size: 10px;
}
a {
    text-decoration: unset;
    color: currentColor;
}
.checkbutton {
    cursor: pointer;
    padding: 25px;
    background-color: dodgerblue;
    color: white;
    font-family: "Courier New";
    font-weight: bold;
    font-size: 4vw;
    display: flex;
    justify-content: center;
    border-radius: 25px;
    border: unset;
    margin: auto;
    margin-top: 5%;
    transition: 250ms all ease-in-out;
}
.checkbutton:hover {
    background-color: cornflowerblue;
}
form .active button {
    background-color: lightgreen;
}
#loader {
    width: 100vw;
    height: 100vh;
    position: fixed;
    background: #0049e9;
}
