
.container {
    display: flex;
    flex-direction: column;
}
.victoryscreen {
    animation: fadeIn 2s;
    display: flex;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.75);
    height: 100%;
    width: 100vw;
    justify-content: center;
    z-index: 100;
    margin: 0;
    top: 0;
    flex-direction: column;
}
@keyframes fadeIn {
    from {
        opacity: 0;
    }
}
.playboard {
    background: var(--color-outline);
    display: flex;
    margin: auto;
    width: max-content;
    height: auto;
    padding: 0.75vw;
    overflow: hidden;
    border-radius: 2.5rem;
    background: white;
    animation: fadeInUnder 2s;
    box-shadow: -4px -3px 45px 21px rgba(0,0,0,0.35);
    top: 0;
    position: absolute;
    right: 0;
    left: 0;
}
.victoryscreen h1 {
    color: white;
    justify-content: center;
    font-family: Arial;
    font-size: 6vw;
    font-weight: bold;
    margin: auto;
}
h1 {
    color: white;
    font-family: Arial;
    font-size: 6vw;
    font-weight: bold;
}
.secretcode {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;

}
.locked {
    background-image: url("/images/lock.png");
    background-size: cover;

}
.checkbox{
    padding: 5px;
    background-color: darkslategray;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
}
.checkbox p {
color: white;
font-size: 1.7vw;
    font-family: Arial;
    margin: 2px;
}

td {
border: 1px solid black;
    padding: 15px;
    border-radius: 50%;
}
#_1 {
 background-color: yellow;
}
#_2 {
    background-color: dodgerblue;
}
#_3 {
    background-color: red;
}
#_4 {
    background-color: limegreen;
}
#_5 {
    background-color: purple;
}
#_6 {
    background-color: orange;
}
#_7 {
    background-color: darkcyan;
}
.yellowcursor * {

    cursor: url('/images/yellowcursor.png'), auto;
}
.bluecursor * {

    cursor: url('/images/bluecursor.png'), auto;
}
.redcursor * {

    cursor: url('/images/redcursor.png'), auto;
}
.greencursor * {

    cursor: url('/images/greencursor.png'), auto;
}
.orangecursor * {

    cursor: url('/images/orangecursor.png'), auto;
}
.purplecursor * {

    cursor: url('/images/purplecursor.png'), auto;
}
.bluebutton {
    background: var(--primary-color);
    padding: 0.5rem;
    display: flex;
    border-radius: 0.2rem;
    border: unset;
    color: white;
    margin: auto;
    margin-bottom: 0.5rem;
    font-size: 3rem;
}
.bluebutton:hover {
    filter: brightness(1.2);
}

.selectcontainer {
    width: 90%;
    justify-content: center;
    justify-self: center;
    margin-inline: auto;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    margin-right: 0;
    padding-top: 7.6%;
}
.selectfield {
    border: 2px solid var(--primary-color);
    margin: auto;
    position: relative;
    display: flex;
    padding: 1.4rem;
    margin: 1%;
    border-radius: 0.4rem;
    flex-wrap: wrap;
    height: 3rem;
    width:  3rem;

}
.selectfield .check {
    height: 50%;
    border: 0.01rem solid var(--primary-color);
    width: 50%;
    box-sizing: border-box;
    justify-content: center;
    display: flex;
}
.colorselecter {
    cursor: crosshair;
    z-index: 100;
}
.secretcodecontainer
{
    font-family: Courier New;
    font-size: 40px;
    letter-spacing: 4px;
    font-weight: bold;
    width: min-content;
    display: flex;
    flex-direction: column-reverse;
    padding: 10px;
    display: flex;
    position: fixed;
    margin-top: 50vh;
    border: 3px limegreen solid;
    color: limegreen;
    background-color: #1a202c;

}
.secretcodecontainer label {
    font-size: 10px;
}
a {
    text-decoration: unset;
    color: currentColor;
}
.checkbutton {
    cursor: pointer;
    padding: 0.1rem;
    background-color: var(--primary-color);
    color: white;
    font-family: var(--standard-fontfamily);
    font-weight: bold;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    border-radius: 25px;
    border: unset;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    width: 100%;
    margin-inline: auto;
    transition: 250ms all ease-in-out;
}
.checkbutton:hover {
    background-color: cornflowerblue;
}

form .active button {
    background-color: lightgreen;
}
