.popup {
    display: flex;
    margin: auto;
    width: 75vw;
    height: 30vw;
    position: fixed;
    padding: 1vw;
    border-radius: 25px;
    background: white;
    z-index: 1000;
    box-shadow: -4px -3px 45px 21px rgba(0,0,0,0.35);
}


.popup h1 {

    display: flex;

    font-family: SharpSans,Helvetica,Arial,sans-serif;
    font-size: 4vw;
    color: #05164c;
}
.popup footer {
    display: flex;

    padding-inline: 5vw;
    height: min-content;
    justify-content: right;
    width: 100vw;
}
.popup .row {
    height: auto;
    padding: 2px;
    display: flex;
    flex-direction: row;
    margin-inline: 10%;
    border-bottom: 1.5px lightgray solid;
}
.popup .row p {
    display: flex;
    height: auto;
    padding: 2px;
    margin-left: 10%;
    font-size: 1.5vw;
}
.popup .top {
    margin-top: 2%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}
.popup .close {
    display: flex;
    height: auto;
    width: auto;
    margin: 1vw;
    cursor: pointer;
    padding: 2px;
    font-size: 1.5vw;
    color: lightgray;
    justify-self: right;
    user-select: none;

}
.popup .top .close:hover {
    color: gray;
}
.popup input {
    border: unset;
    display: flex;
    height: max-content;
    border-left: 1px solid lightgrey;
    border-bottom: 1px solid lightgrey;;
    padding: 2px;
    margin-inline: 20%;
    font-size: 1.5vw;
    margin-top: 5%;

}
.popup .column {
    flex-direction: column;
    height: 25vw;
    overflow-y: auto;
    overflow-x: hidden;
}
.popup label {
    justify-content: center;
    margin: auto;
    position: relative;
    display: flex;
}
.popup .sidebar {
    width: 12%;
    border-right: #cbd5e0 2px solid;
    height: 100%;
    flex-direction: column;
}
.popup .sidebar a {
    display: flex;
    color: #05164c;
    font-size: 1.1vw;
    padding: 0.7vw;
    text-underline: #2d3748;
}
.popup .sidebar a:focus {
    background: #0049e9;
    color: white;
}
#settingscontent {
    flex-direction: row;
    display: flex;
    width: auto;
    height: max-content;
    padding: 1vw;
    padding-inline: 4vw;

}
#settingscontent div {
    flex-direction: column;
    justify-content: unset;
}
#settingscontent h1 {
    color: #05164c;
    font-size: 2vw;
    padding: 1vw;

}
#settingscontent label {
    display: flex;
    justify-content: left;
    margin: 0.4vw;
}
#settingscontent select {
    display: flex;
    width: 30%;
    padding: 0.5vw;
    background: #cbd5e0;
    border: 1px gray;
    border-radius: 2px;
}
#settingscontent option {
    font-size: 1.2vw;
}
#settingscontent .themeexample {
    width: 25%;
    height: 20%;
    border-radius: 2vw;
    font-size: 3vw;
    margin: 2vw;
    display: flex;
    padding: 2vw;
    justify-content: center;
    border: 1px solid gray;
}
#settingscontent .dark {
    background: #2d3748;
    color: white;
}
#settingscontent .light {
    background: #ffffff;
    color: #000000;
}
#settingscontent .table {
    flex-direction: row;
    display: flex;
    justify-content: center;
}
