.popup {
    display: flex;
    margin: 5% auto; /* Will not center vertically and won't work in IE6/7. */
    left: 0;
    right: 0;
    top: 0;
    width: 75vw;
    height: 70vh;
    position: fixed;
    padding: 1vw;
    border-radius: 2.5rem;
    background: white;
    animation: fadeInUnder 2s;
    box-shadow: -4px -3px 45px 21px rgba(0,0,0,0.35);
}

.profilepicture  {
    background-color: #cbd5e0;
    width: 4vw;
    object-fit: cover;
    border-radius: 50%;
    border: white 0.11vw solid;
    height: 4rem;
    margin-right: 2%;
    background-size: cover;
}
.popup h1 {

    display: flex;
    margin: unset;
    font-family: SharpSans,Helvetica,Arial,sans-serif;
    font-size: 4vw;
    color: #05164c;
}
.leaderboard p {
   font-size:  1rem;
    justify-content: left;
    width: 100%;
}
.leaderboard label {
    font-size:  1rem;
    font-weight: bold;
    justify-content: left;
    color: var(--color-outline);
}
.leaderboard .placement1 {
    color: goldenrod;
    font-weight: bolder;
    font-size: 2rem;
}
.leaderboard .placement2 {
    color: #727171;
    font-weight: bolder;
    font-size: 2rem;
}
.leaderboard .placement3 {
    color: rgba(215,94,65,0.98);
    font-weight: bolder;
    font-size: 2rem;
}
.leaderboard .placement {
    font-weight: bold;
    font-size: 2rem;
    color: var(--color-outline);
}

.popup .row {
    height: auto;
    padding: 0.4rem;
    display: flex;
    flex-direction: row;
    margin-inline: 10%;
    border-bottom: 1.5px lightgray solid;
}
.bluebutton {
    background: var(--primary-color);
    padding: 0.2rem;
    border-radius: 0.2rem;
    border: unset;
    color: white;
    font-size: 1.5rem;
}
/*.popup .row p {*/
/*    display: flex;*/
/*    height: auto;*/
/*    padding: 2px;*/
/*    margin-left: 10%;*/
/*    font-size: 1.5vw;*/
/*}*/
.popup .top {
    margin-top: 2%;
    display: flex;
    width: 100%;
    justify-content: space-between;
    flex-direction: row;
}
.popup .close {
    display: flex;
    height: auto;
    width: auto;
    margin: 1rem;
    cursor: pointer;
    padding: 2px;
    font-size: 1.5vw;
    color: lightgray;
    justify-self: right;
    user-select: none;

}
.popup .top .close:hover {
    color: gray;
}
.popup input {
    border: unset;
    display: flex;
    height: max-content;
    border: 0.04rem solid lightgrey;
    padding: 2px;
    width: auto;
    margin-inline: 20%;
    font-size: 1.5rem;
    margin-top: 5%;

}
.popup .column {
    flex-direction: column;
    height: 25rem;
    overflow-y: auto;
    overflow-x: hidden;
}
.popup label {
    justify-content: left;
    margin: auto;
    position: relative;
    display: flex;
    width: 100%;
}
.difficulty {
    padding: 0.5rem;
    border-radius: 1rem;
    width: min-content; !important;
    margin-right: 100%;
}
.popup .sidebar {
    width: 12%;
    border-right: #cbd5e0 2px solid;
    height: 100%;
    flex-direction: column;
}

#popupcontent {
    flex-direction: row;
    display: flex;
    width: auto;
    height: max-content;
    padding: 1vw;
    padding-inline: 4vw;

}
#popupcontent div {
    flex-direction: column;
    justify-content: unset;
}
#popupcontent h1 {
    color: #05164c;
    font-size: 2vw;
    padding: 1vw;

}
#popupcontent label {
    display: flex;
    justify-content: left;
    margin: 0.4vw;
}
#popupcontent select {
    display: flex;
    width: 30%;
    padding: 0.5vw;
    background: #cbd5e0;
    border: 1px gray;
    border-radius: 2px;
}
#popupcontent option {
    font-size: 1.2vw;
}


@keyframes fadeInUnder {
    from {
        top: 100;
    }
}
