.logincard {
    width: auto;
    height: auto;
    min-width: 7rem;
    max-width: 30rem;
    margin: auto;
    border-radius: 2.5rem;
    background: white;
    justify-self: center;
    margin-top: auto;
    padding-inline: 5%;
}
.logincard .top {
    margin-bottom: 7%;
}
.logincard input[type=email],input[type=name],input[type=text],input[type=password] {
display: flex;
    margin: auto;
}
