/*nav {*/
/*    background-color: var(--contrast-color);*/

/*}*/
/*nav * {*/
/*    color: var(--color-outline);*/
/*}*/
/*.header a {*/
/*    flex-direction: column;*/
/*    font-size: 2.2vw;*/
/*    line-height: 0.9vw;*/
/*    display: flex;*/
/*    margin: auto;*/
/*    color: var(--color-outline);*/
/*}*/
/*nav .column a {*/
/*    color: var(--color-outline);*/
/*}*/
/*nav img {*/
/*    border: 2px black solid;*/
/*}*/
/*.header a span  {*/
/*    display: flex;*/
/*    margin: 0.5vw;*/
/*    color: var(--color-outline);*/
/*}*/
* {
    margin: 0;
}
h1 {
    font-size: 20vw;
    color: var(--contrast-color);
    margin: auto;
    display: flex;
}
body {
    height: 100vh;
}
.contentbox {
    display: flex;
    width: 80%;
    padding: 3%;
    height: auto;
    position: absolute;
    flex-direction: column;
    float: left;
    z-index: 10;
    top: 150;
    right: 0;
    background-color: var(--contrast-color);
}
.contentbox h1 {
    display: inline;
    font-size: 4vw;
    font-family: var(--standard-fontfamily);
    color: var(--color-outline);


}
.contentbox .header {
    display: flex;
    width: 100%;
    height: auto;
    margin-bottom: 2vw;
    border-bottom: 1px lightgray solid;
}
.actionbutton {
    background-color: var(--secondary-color); /* Green */
    border: none;
    color: white;
    border-radius: 1vw;
    margin-bottom: 2%;
    padding: 0.5vw 1.0vw;
    text-align: center;
    text-decoration: none;
    display: flex;
    font-size: 1.0vw;
    font-weight: bold;
    cursor: pointer;
    margin-left: auto;
}
.actionbutton:hover {
    filter: brightness(110%);
}
.card {
    flex-direction: row;
    padding: 1%;
    display: inline-flex;
    width: 100%;
    height: auto;
    border: 1px lightgrey solid;
    font-family: var(--standard-fontfamily);
}
.card h4 {
    width: 100%;
}
.card img{
    background-color: #cbd5e0;
    width: 4vw;
    object-fit: cover;
    border-radius: 50%;
    border: white 0.11vw solid;
    height: 4vw;
    margin-right: 2%;
    background-size: cover;
}
.profilecardtext {
    padding-left: 2%;
    flex-direction: column;
    border-left: 1px lightgrey solid;
}
.card h3 {
    flex-wrap: nowrap;
    display: flex;
    color: var(--color-outline);
    font-size: 2vw;
    font-weight: bold;
}
.card p {
    display: flex;
    color: #b9bdc7;
    font-size: 1vw;
}
.hidden {
    display: none;
}
.leveldiagram {
    width: 50%;
    display: flex;
    height: auto;
    overflow: visible;
    border: var(--color-outline) 0.1vw solid;
    justify-content: left;
    color: var(--contrast-color);
    overflow-x: hidden;

}
.leveldiagram .userprogress {
    background: var(--primary-color);
    justify-content: right;

}
.leveldiagram p {
    color: var(--contrast-color);
overflow-x: visible;
    display: flex;
    width: 0;
    margin: auto;
    justify-content: center;
    font-size: 1vw;
    z-index: 10;
    position: relative;


}
.neededexperience {
    background: #676767;
    width: max-content;
    display: flex;
}


