.floatcard {
    display: flex; /* Will not center vertically and won't work in IE6/7. */
    width: max-content;
    height: unset;
    padding: 2rem;
    margin: unset;
    border-radius: 2.5rem;
    background: white;
    box-shadow: -4px -3px 45px 21px rgba(0,0,0,0.35);
    flex-direction: column;
    flex-wrap: wrap;
    position: absolute;
}
body {
    overflow-y: hidden;
    overflow-x: hidden;
}
.floatcard .footer {
    display: flex;
    float: bottom;
    width: 100%;
    padding-top: 2rem;
    justify-content: space-between;
    height: max-content;
}
.floatcard button {
    border: unset;
    background-color: var(--primary-color);
    color: white;
    font-size: 1.2rem;
    border-radius: 0.6rem;
    padding: 0.5rem;
    margin: auto 1rem;
    position: relative;
    display: flex;
    width: max-content;

    margin-bottom: 0;
}
.floatcard button:hover {
    cursor: pointer;
    filter:brightness(1.2);
}
.rowdirector {
    display: flex;
    flex-direction: row;
    margin: auto;
    justify-content: center;
}
.columndirector {
    display: flex;
    flex-direction: column;
}
input[type=email],input[type=name],input[type=text],input[type=password] {
    padding: 0.5rem;
    font-size: 1rem;
    border: #2d3748 0.05rem solid;
    border-radius: 0.4rem;
    display: flex;
    height: max-content;
}
input[type=email],input[type=name],input[type=text],input[type=password]:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 30px rgba(0,83,255,0.07) inset !important;

}
button[type=submit] {
    border: unset;
    background-color: var(--primary-color);
    color: white;
    font-size: 1.2rem;
    border-radius: 0.4rem;
    padding: 0.3rem;
    margin: auto 1rem;
    position: relative;
    display: flex;
    width: max-content;

    margin-bottom: 0;

}
button[type=submit]:hover {
    filter:brightness(1.2);
    cursor: pointer;

}
form label {
    margin: auto;
    display: flex;
    width: 100%;
    height: min-content;
    justify-content: left;
    margin-inline: 5%;
    font-size: 1.4rem;
    font-weight: lighter;
}
.succesalert {
    width: 70%;
    display: flex;
    padding: 1rem;
    margin: auto;
    margin-bottom: 2%;
    border-radius: 0.4rem;
    border: 0.04rem solid var(--primary-color);
    background-color: rgba(0, 73, 233, 0.25);
    color: #0049e9;
    fill-opacity: 50%;
}
.erroralert {
    flex-direction: column;
    width: 70%;
    display: flex;
    padding: 1rem;
    margin: auto;
    margin-bottom: 2%;
    border-radius: 0.4rem;
    border: 0.04rem solid rgba(255,70,63,0.98);
    background-color: rgba(255, 70, 63, 0.25);
    color: rgba(255,70,63,0.98);
    fill-opacity: 50%;
}
.succesalert ul li,.erroralert li {
    display: flex;
    list-style-type: circle;
}
.container {
    display: flex;
    flex-wrap: wrap;
}
