
nav {
    top: 0;
    width: 100vw;
    height: min-content;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0;
    z-index: 50;
    position: fixed;
    padding-top: 0.6vw;

}
a {
    text-decoration: unset;
    color: currentColor;
    font-family: var(--standard-fontfamily);
}
nav a {
    flex-direction: column-reverse;
    display: flex;
    color: white;
    height: max-content;
    width: max-content;
    font-size: 1.1vw;
    justify-content: center;
    cursor: pointer;
    user-select: none;
    height: auto;
    transition: font-size linear 0.1s;
    margin: auto;
    margin-right: 4%;
}
.nav .username {
    display: flex;
    color: white;
    margin: auto;
    padding: 0.5vw;
    border-radius: 5%;
    text-align: center;
    justify-content: center;
}

.dropdown a {
    justify-content: center;
    font-size: 1.3vw;
    z-index: 100;
    display: flex;
    padding-top-bottom: 0.2vw;
    padding-inline: 1vw;
    color: var(--secondary-color);

}
.header {
    width: auto;
    word-spacing: 1vw;
    height: 20%;
    flex-wrap: wrap;
    flex-direction: row;
    display: flex;
    font-family: var(--standard-fontfamily);
    color: var(--contrast-color);
    font-weight: bold;
    transition: all ease-in-out 0.5s;
}
.header:hover {
    transition: all ease-in-out 0.5s;
}
.header img {
    display: flex;
    height: 80%;
    width: auto;
}
.header a {
    flex-direction: row;
    font-size: 2.3vw;
    line-height: 0.9vw;
    display: flex;
    justify-content: center;
    z-index: 200;
}

.header a span  {
    display: flex;
    margin: 0.5vw;


}
.dropdown {
    border-radius: 10px;
    padding: 1vw;
    width: auto;
    margin-right: 2vw;
    padding-inline: unset;
    display: flex;
    background-color: var(--contrast-color);
    flex-direction: column;
}

.dropdownimg {
    width: 3.3vw;
    object-fit: cover;
    border-radius: 50%;
    border: white 0.11vw solid;
    height: 3.3vw;
    margin: auto;
    background-size: cover;
}
.dropdown a:hover {
    background-color: gray;
    cursor: pointer;
}
.sidebar {
    display: flex;
    z-index: 0;
    position: relative;
    width: 12%;
    border-right: #cbd5e0 2px solid;
    height: 100%;
    flex-direction: column;
    background-color: var(--contrast-color);
}
.sidebar a {
    display: flex;
    position: relative;
    z-index: 1000;
    color: var(--color-outline);
    font-size: 1.1vw;
    padding: 0.7vw;
    text-underline: #2d3748;
}
.sidebar .logout {
    display: flex;
    color: red;
    margin-top: auto;
    justify-content: center;
    margin-bottom: 4%;
}
.sidebar a:focus {
    background: lightgray;
    color: var(--color-outline);
}
 a .role {
     margin-inline: auto;
 }
 .role  {
    display: flex;
    /*margin: auto;*/
    font-weight: bold;
    color: white;
     width: max-content;
    height: min-content;
    padding: 0.4vw;
     margin-left: auto;
    border-radius: 5%;
}
