* {
    margin: 0;
    flex-wrap: unset;
    font-family: var(--standard-fontfamily);
}
:root {
    --primary-color: #0049e9;
    --secondary-color: #00dd83;
    --color-outline: #444444;
    --color-content: #05164c;
    --contrast-color: #fff;
    --standard-fontfamily: SharpSans,Helvetica,Arial,sans-serif;
}

[data-theme="dark"] {
    --primary-color: #0049e9;
    --secondary-color: #00dd83;
    --color-outline: #ffffff;
    --color-content: #05164c;
    --contrast-color: #3d3d3d;
}
.row {
    display: flex;
    flex-direction: row;
    margin: auto;
}
.column {
    display: flex;
    flex-direction: column;
}
