body {
    background-color: #4a5568;
}

.secretcode {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;

}
.locked {
    background-image: url("/images/lock.png");
    background-size: cover;

}
.check2 {
    background: url("/images/good.png");

    background-size: cover;
}
.check1 {
    background: url("/images/contains.png");
    background-size: cover;
    backdrop-filter: drop-shadow(5px 5px 5px black);
}
.check0 {
    background: url("/images/notgood.png");
    background-size: cover;
    backdrop-filter: drop-shadow(5px 5px 5px black);

}
.rowdirector {
    display: flex;
    flex-direction: row;
    display: flex;
    margin: auto;
    justify-content: center;

}
.columndirector {
    display: flex;
    flex-direction: column;
}
td {
border: 1px solid black;
    padding: 15px;
    border-radius: 50%;
}
#_1 {
 background-color: yellow;
}
#_2 {
    background-color: dodgerblue;
}
#_3 {
    background-color: red;
}
#_4 {
    background-color: greenyellow;
}
.yellowcursor * {

    cursor: url('/images/yellowcursor.png'), auto;
}
.bluecursor * {

    cursor: url('/images/bluecursor.png'), auto;
}
.redcursor * {

    cursor: url('/images/redcursor.png'), auto;
}
.greencursor * {

    cursor: url('/images/greencursor.png'), auto;
}
.selectcontainer {
    display: flex;
    flex-direction: row;
    margin-right: 0;

}
.selectfield {
    border: 2px solid black;
    margin: auto;
    position: relative;
    display: flex;
    padding: 50px;
    border-radius: unset;

}
.colorselecter {
    cursor: crosshair;
    z-index: 100;
}
.selectfield:focus  {
    border: 2px dotted blue;
}
.selectfield:active {
    border: 2px dotted blue;
}
.testcontainer {
    margin: auto;
    display: flex;
    position: relative;
    margin-top: auto;
    justify-content: center;
    z-index: 0;
}
.secretcodecontainer
{
    font-family: Courier New;
    font-size: 40px;
    letter-spacing: 4px;
    font-weight: bold;
    width: min-content;
    display: flex;
    flex-direction: column-reverse;
    padding: 10px;

    border: 3px limegreen solid;
    color: limegreen;
    background-color: #1a202c;

}
.secretcodecontainer label {
    font-size: 10px;
}
a {
    text-decoration: unset;
    color: currentColor;
}
.checkbutton {
    cursor: pointer;
    padding: 25px;
    background-color: dodgerblue;
    color: white;
    font-family: "Courier New";
    font-weight: bold;
    font-size: 4vw;
    display: flex;
    justify-content: center;
    border-radius: 25px;
    border: unset;
    margin: auto;
    margin-top: 5%;
    transition: 250ms all ease-in-out;
}
.checkbutton:hover {
    background-color: cornflowerblue;
}
form .active button {
    background-color: lightgreen;
}

